/* Daniel Flynn
    Summer  2022*/


body {
    background-color: #bbb;
}

#ocean_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    
}

.content {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.mamorlis {
    background-image: url("Mamorlis Banner.jpg");
    background-repeat: no-repeat;
    padding: 12px 16px;
    width: 666px;
    height: 200px;
}

.mamorlis:hover {
    filter:invert();
}

#mamorlis_table {
    padding-left: 115px;
    padding-top: 11px;
}

#M_amorlis {
    width: 111px;
    height: 160px;
}

#mamorlis_space {
    height:60px;
    width: 322px;
}

#amorlis {
    width: 322px;
    height: 66px;
}

#breakout {
    width: 500px;
}

.music {
    padding-left: 300px;
    padding-top: 150px;
    /* float: right; */
}

.top_nav_bar {
    background-color: #666;
    overflow: hidden;
}

.top_nav_bar a {
    float: left;
    color:aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.top_nav_bar a:hover {
    background-color: #999;
    color: black;
}

.citation {
    padding-top: 8px;
    padding-bottom: 8px;
}